<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd         
						http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd         
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd         
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	<import resource="classpath:memcached-context.xml" />
	
	<bean id="memcachedConnectionConfig" class="com.hexin.memcached.config.MemcachedConnectionConfig">
		<property name="services" >
			<array>
				<value>192.168.77.9:11211</value>
			</array>
		</property>
		<property name="poolConfig" ref="poolConfig" />
		
	</bean>
	
	<bean id="poolConfig" class="com.hexin.memcached.config.PoolConfig">
		<property name="consistentHashing" value="true" />
		<property name="nagle" value="false"/>
		<property name="initConn" value="10" />
		<property name="minConn" value="5" />
		<property name="maxConn" value="250" />
		
		<property name="aliveCheck" value="true" />
		<property name="failover" value="true" />
	</bean>
	
</beans>
